$white: #fff;
$black: #000;
$error: #eb4d4b;
$calm: #27ae60;

$height: calc(var(--vh, 1vh) * 100);

//
$accent: #f5f6fa;
$accent-2: #ced6e0;
$accent-3: #0097e6;
$accent-4: #c8d6e5;
$accent-5: #6b7280;
$accent-6: #e5e7eb;
$accent-7: #f3f4f6;
$accent-8: #dfdfdf;
$accent-9: #212937;
